@model List<IndexSupplierVM>

@{
    ViewBag.Title = "Suppliers";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @using Inventory.Presentaion.App.ViewModel;
}

<h2>Suppliers</h2>

<table class="table table-striped table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>Supplier ID</th>
            <th>Supplier Name</th>
            <th>Contact Info</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var supplier in Model)
        {
            <tr>
                <td>@supplier.SupplierID</td> <!-- Display SupplierID if needed -->
                <td>@supplier.SupplierName</td>
                <td>@supplier.ContactInfo</td>
                <td>
                    <a href="@Url.Action("UpdateSupplier", "Supplier", new { supplierID = supplier.SupplierID })" class="btn btn-primary">Edit</a>
                    <a asp-action="DeleteSupplier" asp-route-supplierID="@supplier.SupplierID" class="btn btn-danger">Delete</a>
                    <a asp-action="DetailsSupplier" asp-route-supplierID="@supplier.SupplierID" class="btn btn-info">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="AddSupplier" class="btn btn-success">Add New Supplier</a>
